<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<outboundRules>
				<rule name="BaseURL" preCondition="IsHtml" patternSyntax="ExactMatch" stopProcessing="false">
					<match filterByTags="Base" pattern="/" />
					<action type="Rewrite" value="/engineering/trdata_demo/reactor/winding/" />
					<conditions>
					</conditions>
				</rule>
				<rule name="Cookie Path">
					<match serverVariable="RESPONSE_Set_Cookie" pattern="(.*)(Path=(.*); )(.*)" />
					<action type="Rewrite" value="{R:1} Path=/engineering/trdata_demo/reactor/winding/; {R:4}" />
				</rule>
				<!-- Rule to catch and rewrite 3xx redirect Location headers -->
				<rule name="Rewrite Location Header 1" preCondition="ResponseIs3xxRedirect">
					<match serverVariable="RESPONSE_Location" pattern="^http(s)?://app.siemens-energy.cn/engineering/reactor_winding/engineering(.*)" />
					<action type="Rewrite" value="http{R:1}://app.siemens-energy.cn/engineering{R:2}" />
				</rule>
				<rule name="Rewrite Location Header 2" preCondition="ResponseIs3xxRedirect">
					<match serverVariable="RESPONSE_Location" pattern="^http(s)?://app.siemens-energy.cn/engineering/reactor_winding(.*)" />
					<action type="Rewrite" value="http{R:1}://app.siemens-energy.cn/engineering/trdata_demo/reactor/winding{R:2}" />
				</rule>
				<preConditions>
					<preCondition name="IsHtml">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
					</preCondition>
					<preCondition name="ResponseIs3xxRedirect">
						<add input="{RESPONSE_STATUS}" pattern="^3[0-9][0-9]$" />
					</preCondition>
				</preConditions>

			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>