<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<outboundRules>
				<rule name="BaseURL" preCondition="IsHtml" patternSyntax="ExactMatch" stopProcessing="false">
					<match filterByTags="Base" pattern="/" />
					<action type="Rewrite" value="/engineering/trdata_demo/trcad/leads/lao_exit/" />
					<conditions>
					</conditions>
				</rule>
				<rule name="Cookie Path">
					<match serverVariable="RESPONSE_Set_Cookie" pattern="(.*)(Path=(.*); )(.*)" />
					<action type="Rewrite" value="{R:1} Path=/engineering/trdata_demo/trcad/leads/lao_exit/; {R:4}" />
				</rule>
				<preConditions>
					<preCondition name="IsHtml">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>