@typeparam TUser where TUser : IUser, new()
@inject IJSRuntime js
@inject IUserService userService
<dialog @ref="dialogRef"
        style="min-width: 300px; max-width: 300px; font-size: 14px; padding: 0px; max-height: calc(100vh - 20px); border: 1px solid gray; border-radius: 8px; box-shadow: 0px 0px 14px -5px rgba(66, 68, 90, 1); width: fit-content; top: 50vh; left: 50vw; margin: 0; transform: translate(-50%, -50%);"
        onmousewheel="return false;">
    <div style="display:flex; flex-direction:column; max-width:90vw; max-height: calc(100vh - 20px);">
        <div ondragover="event.preventDefault();" style="flex: 0 1 auto; background-color:#00000010; border-bottom: 1px solid #00000040; display:flex; align-items:center; padding: 0px 10px 0px 10px; line-height:2rem; position:relative;">
            <div draggable="true" ondragstart="const rect = this.parentNode.parentNode.parentNode.getBoundingClientRect(); window.dialogPos = { posX: rect.left, posY: rect.top, mouseX: event.pageX, mouseY: event.pageY };" ondrag="if (event.screenX == 0) return; let d = this.parentNode.parentNode.parentNode; d.style.removeProperty('transform'); d.style.setProperty('left', (event.pageX - dialogPos.mouseX + dialogPos.posX) + 'px'); d.style.setProperty('top', (event.pageY - dialogPos.mouseY + dialogPos.posY) + 'px');" style="cursor: move; user-select: none; flex-grow: 1;">
                用户管理
            </div>
            <div style="display: flex; align-items:center; gap:10px;">
                <button type="button" @onclick="CancelAsync" style="border:none; outline:none; background-color:transparent; padding:4px; font-size:16px; cursor: pointer;">✖</button>
            </div>
        </div>
        <div style="padding:10px;flex: 1 1 auto; overflow-y:auto;">
            @if (!isLoading && User is null)
            {
                <p>Data Not Found</p>
            }
            else if (isLoading)
            {
                <p>Loading...</p>
            }
            else if (User is not null)
            {

                <div style="display:flex; flex-direction:column; gap:10px;">

                    <div style="display:flex; flex-direction:column; flex-wrap:nowrap; --padding: 4px; ">
                        <span style="display:flex; align-items:center;line-height: 1.2; white-space:nowrap; border: 1px solid gray; border-bottom: none; border-top-left-radius: 4px; border-top-right-radius: 4px; box-sizing:border-box; padding: var(--padding); width:fit-content; background-color: #f0f0f0;  ">
                            Id
                        </span>
                        <div style="border: 1px solid gray; outline:none; border-radius: 4px; border-top-left-radius: 0px; box-sizing:border-box; font-family:inherit; font-size:inherit; min-width:100%; overflow:hidden; background-color:#f0f0f0; padding: var(--padding);">
                            <input value="@User.Id" disabled readonly style="border: none; outline: none;width: 100%;height: 100%; color: inherit;" />
                        </div>
                    </div>

                    <div style="display:flex; flex-direction:column; flex-wrap:nowrap; --padding: 4px; ">
                        <span style="display:flex; align-items:center;line-height: 1.2; white-space:nowrap; border: 1px solid gray; border-bottom: none; border-top-left-radius: 4px; border-top-right-radius: 4px; box-sizing:border-box; padding: var(--padding); width:fit-content; background-color: #f0f0f0;  ">
                            姓名
                        </span>
                        <div style="border: 1px solid gray; outline:none; border-radius: 4px; border-top-left-radius: 0px; box-sizing:border-box; font-family:inherit; font-size:inherit; min-width:100%; overflow:hidden; padding: var(--padding);">
                            <input @bind="User.DisplayName" autocomplete="off" autocorrect="off" style="border: none; outline: none;width: 100%;height: 100%;background-color: transparent;color: inherit;" />
                        </div>
                    </div>

                    <div style="display:flex; flex-direction:column; flex-wrap:nowrap; --padding: 4px; ">
                        <span style="display:flex; align-items:center;line-height: 1.2; white-space:nowrap; border: 1px solid gray; border-bottom: none; border-top-left-radius: 4px; border-top-right-radius: 4px; box-sizing:border-box; padding: var(--padding); width:fit-content; background-color: #f0f0f0;  ">
                            账号
                        </span>
                        <div style="border: 1px solid gray; outline:none; border-radius: 4px; border-top-left-radius: 0px; box-sizing:border-box; font-family:inherit; font-size:inherit; min-width:100%; overflow:hidden; padding: var(--padding);">
                            <input @bind="User.UserName" autocomplete="off" autocorrect="off" style="border: none; outline: none;width: 100%;height: 100%;background-color: transparent;color: inherit;" />
                        </div>
                    </div>

                    <div style="display:flex; flex-direction:column; flex-wrap:nowrap; --padding: 4px; ">
                        <span style="display:flex; align-items:center;line-height: 1.2; white-space:nowrap; border: 1px solid gray; border-bottom: none; border-top-left-radius: 4px; border-top-right-radius: 4px; box-sizing:border-box; padding: var(--padding); width:fit-content; background-color: #f0f0f0;  ">
                            Email
                        </span>
                        <div style="border: 1px solid gray; outline:none; border-radius: 4px; border-top-left-radius: 0px; box-sizing:border-box; font-family:inherit; font-size:inherit; min-width:100%; overflow:hidden; padding: var(--padding);">
                            <input @bind="User.Email" type="email" autocomplete="off" autocorrect="off" style="border: none; outline: none;width: 100%;height: 100%;background-color: transparent;color: inherit;" />
                        </div>
                    </div>

                    <div style="display:flex; flex-direction:column; flex-wrap:wrap; --padding: 4px; ">
                        <span style="display:flex; align-items:center;line-height: 1.2; white-space:nowrap; border: 1px solid gray; border-bottom: none; border-top-left-radius: 4px; border-top-right-radius: 4px; box-sizing:border-box; padding: var(--padding); width:fit-content; background-color: #f0f0f0;  ">
                            角色
                        </span>
                        <div class="role-item-group" style="display: flex; gap: 8px;border: 1px solid gray; outline:none; border-radius: 4px; border-top-left-radius: 0px; box-sizing:border-box; font-family:inherit; font-size:inherit; min-width:100%; overflow:hidden; padding: var(--padding);">
                            @foreach (var roleInfo in RoleInfos)
                            {
                                <label class="role-item">@roleInfo.Role.Name <input type="checkbox" @bind="roleInfo.Checked" /></label>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div style="flex: 0 1; background-color:#00000010; padding:4px 10px 4px 10px; border-top:1px solid #00000040;">
            <div style="display:flex; gap:10px;">
                <button @onclick="SaveAsync" style="border: 1px solid gray; padding: 0.2rem 0.4rem; border-radius: 6px;">
                    保存
                </button>
                <button @onclick="CancelAsync" style="border: 1px solid gray; padding: 0.2rem 0.4rem; border-radius: 6px;">
                    取消
                </button>
                <div style="flex-grow: 1"></div>
                @if (!isNew && User is not null)
                {
                    <ResetPasswordDialog UserId="@User!.Id" ButtonStyle="border: 1px solid gray; padding: 0.2rem 0.4rem; border-radius: 6px;" ButtonText="重置密码" />
                    <ConfirmationDialog ButtonText="删除" ButtonStyle="border: 1px solid gray; padding: 0.2rem 0.4rem; border-radius: 6px; background-color:orange;" Message="确认删除?" OnConfirm="DeleteAsync" />
                }
            </div>
        </div>
    </div>
</dialog>
@* 

<dialog @ref="dialogRef">
@if (!isLoading && User is null)
{
    <p>未找到指定用户</p>
}
else if (isLoading)
{
    <p>加载中...</p>
}
else if (User is not null)
{
    <div class="container">
        <div class="input-group border-rounded">
            <label for="displayName">姓名</label>
            <input id="displayName" @bind="User.DisplayName" autocomplete="off" autocorrect="off" />
        </div>
        <div class="input-group border-rounded">
            <label for="userName">账号</label>
            <input id="userName" @bind="User.UserName" autocomplete="off" autocorrect="off" />
        </div>
        <div class="input-group border-rounded">
            <label for="email">Email</label>
            <input id="email" type="email" @bind="User.Email" autocomplete="off" autocorrect="off" />
        </div>
        <div class="input-group border-rounded">
            <label for="email">角色</label>
            <div class="role-item-group">
            @foreach (var roleInfo in RoleInfos)
            {
                <label class="role-item">@roleInfo.Role.Name <input type="checkbox" @bind="roleInfo.Checked" /></label>
            }
            </div>
        </div>
        <div class="input-group border-rounded">
            <label>新密码</label>
            <input type="password" @bind="NewPassword" autocomplete="off" autocorrect="off" />
        </div>
    </div>
    <div style="display:flex; justify-content:space-between; padding: 1rem 2rem 1rem 2rem;">
        <button @onclick="SaveAsync">保存</button>
        <button @onclick="CancelAsync">取消</button>
        @if (!isNew)
        {
            <ConfirmationDialog ButtonText="删除" ButtonClass="button" Message="确认删除?" OnConfirm="DeleteAsync" />
        }
    </div>
}
</dialog> *@

@code {

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public EventCallback<bool> OnChange { get; set; }

    private bool isNew = false;
    private bool isLoading = true;
    private IUser? User;
    private ElementReference dialogRef = default!;
    private class RoleInfo
    {
        public bool Checked { get; set; }
        public required IRole Role { get; init; }
    }
    private IReadOnlyCollection<RoleInfo> RoleInfos { get; set; } = Array.Empty<RoleInfo>();
    private string? NewPassword;
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        bool needReload = false;
        foreach(var parameter in parameters)
        {
            if (parameter.Name == nameof(Id))
            {
                var value = parameter.Value as string;
                if (value!=Id)
                {
                    needReload = true;
                    Id = value;
                }
            }
            else if (parameter.Name == nameof(OnChange))
            {
                OnChange = (EventCallback<bool>)parameter.Value;
            }
        }
        if (needReload)
        {
            _ = Task.Run(ReloadAsync);
        }
        await base.SetParametersAsync(parameters);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dialogElement = await js.InvokeAsync<IJSObjectReference>("eval", dialogRef);
            await dialogElement.InvokeVoidAsync("showModal");
        }
    }
    private async Task ReloadAsync()
    {
        NewPassword = null;
        if (Id is null || Id == "new")
        {
            isNew = true;
            User = new TUser { DisplayName = string.Empty };
        }
        else
        {
            isNew = false;
            User = await userService.GetUserByIdAsync(Id) ?? throw new Exception("User Not Found");
        }
        var UserRoles = await userService.GetUserRolesAsync(User!);
        var allRoles = await userService.GetAllRolesAsync();
        RoleInfos = allRoles.Select(role => new RoleInfo { Role = role, Checked = UserRoles.Any(ur => role.Name == ur.Name) }).ToArray();
        isLoading = false;
        await InvokeAsync(StateHasChanged);
    }
    private async Task SaveAsync()
    {
        if (User is null) return;
        try
        {
            var roles = RoleInfos
                            .Where(i => i.Checked)
                            .Select(i=>i.Role)
                            .ToArray() ?? Array.Empty<IRole>();
            User.SetRoles(roles);
            if (isNew)
            {
                await userService.CreateUserAsync(User);
            }
            else
            {
                await userService.UpdateUserAsync(User);
            }
        }
        catch (Exception ex)
        {
            await js.InvokeVoidAsync("alert", $"保存失败: {ex.Message}");
            return;
        }
        if (OnChange.HasDelegate) await OnChange.InvokeAsync(true);
    }
    private async Task CancelAsync()
    {
        User = null;
        if (OnChange.HasDelegate) await OnChange.InvokeAsync(false);
    }
    private async Task DeleteAsync()
    {
        if (User is null) return;
        try
        {
            await userService.DeleteUserByIdAsync(User.Id);
        }
        catch (Exception ex)
        {
            await js.InvokeVoidAsync("alert", $"删除失败: {ex.Message}");
            return;
        }
        if (OnChange.HasDelegate) await OnChange.InvokeAsync(true);
    }
}
