.roles {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.role {
    border: 1px solid rgb(222, 226, 230);
    padding: 0.2rem 0.4rem;
    border-radius: 6px;
    background-color: dodgerblue;
    color: white;
}
