.vs
/BlazorAccessControl.Interface/bin
/BlazorAccessControl.Interface/obj
/BlazorAccessControl.UI/bin
/BlazorAccessControl.UI/obj
/Example/database.db
/Example/database.db-shm
/Example/database.db-wal
