@typeparam TRole where TRole : IRole, new()
@inject IUserService userService
@inject IJSRuntime js
<div style="display:flex; gap: 10px; margin-bottom: 1rem;">
    <button @onclick="Create">аТНЈ</button>
</div>
<div style="display:flex; flex-direction:row; column-gap: 20px;align-items: start;">
    <table>
        <colgroup>
            <col style="min-width: 10rem;" />
            <col style="min-width: 1rem;" />
        </colgroup>
        <thead>
            <tr>
                <th>УћГЦ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in roles)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><button @onclick="() => Edit(item.Id)">аоИФ</button></td>
                </tr>
            }
        </tbody>
    </table>
    @if (roleIdInEdit!=null)
    {
        <Edit TRole="TRole" Id="@roleIdInEdit" OnChange="OnEditComponentChanged" />
    }
</div>

@code {
    private ICollection<IRole> roles = Array.Empty<IRole>();
    private string? roleIdInEdit;
    private Task Create()
    {
        return Edit("new");
    }
    private async Task Edit(string id)
    {
        roleIdInEdit = id;
    }
    protected override async Task OnInitializedAsync()
    {
        await ReloadAsync();
    }
    private async Task OnEditComponentChanged(bool needReload)
    {
        roleIdInEdit = null;
        roleIdInEdit = null;
        if (needReload)
        {
            await ReloadAsync();
        }
    }
    private async Task ReloadAsync()
    {
        try
        {
            roles = await userService.GetAllRolesAsync();
        }
        catch (Exception ex)
        {
            roles = Array.Empty<IRole>();
            Console.Error.WriteLine($"МгдигУЛЇЪЇАм: {ex}");
            //await js.InvokeVoidAsync("alert", $"МгдигУЛЇЪЇАм: {ex.Message}");
        }
    }

}
